.Dashboard {
    justify-self: center;
    display: grid;
    grid-template-areas: 
    "game parameters"
    "console console"
    "figure figure";
    grid-template-columns: 500px 450px;
    row-gap: 10px;
}