
// ANIMATIONS
@keyframes moveUp {
    from {top: 40px}
    to {top: 0px}
}

@keyframes moveDown {
    from {top: -40px}
    to {top: 0px}
}

@keyframes moveLeft {
    from {left: 40px}
    to {left: 0px}
}

@keyframes moveRight {
    from {left: -40px}
    to {left: 0px}
}

@keyframes fadeUp {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: -10px;
        opacity: 0;
    }
}