@import '../../SASS/variables';

.GameGrid {
    display: grid;
}


.GameRow {
    display: flex;
}

.GameSquare {
    background-color: #101010;
    border: 2px solid black;
}


.Robocop {
    position: relative;
    display: block;
    height: 37px;
    margin: auto;
}

.RobocopRev {
    transform: scaleX(-1);
}
